Source: kronos
Maintainer: Soeren Boll Overgaard <soren@overgaard.org>
Section: misc
Priority: optional
Standards-Version: 4.7.0
Build-Depends: debhelper (>= 13), libgl1-mesa-dev,qt6-base-dev,libqt6core5compat6-dev,libqt6svg6,libqt6svg6-dev,libqt6svgwidgets6
Vcs-Browser: https://github.com/llob/kronos

Package: kronos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Easy to use and fast desktop frontend for logging work in Jira
 Friendly and fast frontend for logging hours in Jira. Notable features 
 include:
  - Rapid time logging via calendar-style blocks
  - Fast issue search end reuse of recently used issues
  - A happy color scheme to brighten your day
